<nav class="navbar" role="navigation">
  <div class="navbar-header">
    <h2 class ="navbar-brand">Search Results</h2>
  </div>
  <div class="poetry-container">
    <%= image_tag("book_and_pen.jpeg", class: "quill") %>
  </div>

  <main class="poems">
    <% @poems.each do |poem| %>
    <article class="poem">
      <header>
        <h3 class="poem-title"><%= poem.title %><span class="poem-tone"><%= " - (#{poem.tone})" %></span></h3>
        <h4 class="poem-author"><%= poem.author %></h4>
      </header>
      <main class="poem-text">
        <p>
          <% poem.text.each do |text| %>
            <%= text %><br/>
          <% end %>
        </p>
      </main>
    </article>
    <% end %>
  </main>

</nav>
